/* _content/WoodenCraft/Components/Layout/Footer.razor.rz.scp.css */
.footer[b-jgshcysjjv] {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.logo[b-jgshcysjjv] {
    width: 390px;
    height: 160px;
    img {
        width:100%;
    }
}

.media-links[b-jgshcysjjv] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-link[b-jgshcysjjv] {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 14px;
    .icon {
        cursor: pointer;
    }
}

.friendly-link[b-jgshcysjjv] {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    a {
        display: inline-block;
        padding: 0 10px;
        border-right: 2px solid var(--greyscale-brown);
        
    }
    a:last-child[b-jgshcysjjv] {
        border-right: none;
    }
}
/* _content/WoodenCraft/Components/Layout/Header.razor.rz.scp.css */
/* _content/WoodenCraft/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-z8ty8taku0] {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main[b-z8ty8taku0] {
    flex: 1;
}
/* _content/WoodenCraft/Components/Philosophy.razor.rz.scp.css */
.container[b-voai3c3qlq] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
    max-width: 100%;
    
    .pic {
        width: 318px;
        height: 300px;
        img {
            width: 100%;
        }
    }
    .h1[b-voai3c3qlq] {
        color: var(--secondary-dark);
        width: 496px;
        text-align: center;
    }
}
