:root {
    /* global css colours*/
    --primary-base: #F5E9DD;
    --primary-dark: #FDBB78;
    --primary-light: #F5F3EF;
    
    --secondary-base: #607A53;
    --secondary-dark: #006547;
    --secondary-light: #93E9CF;
    
    --greyscale-brown: #4E2E1D;
    --greyscale-grey1: #505050;
    --greyscale-grey2: #D9D9D9;
    --greyscale-grey3: #EEEEEE;
    --greyscale-white: #FFFFFF;
    
    --status-error: #EA0000;
    --status-success: #20DE02;

    /* global font family*/
    /* considering the limit space of our server, I suggest we only use two font styles. 
    Otherwise, we need to put these font files into our project, it will occupy some extra space.*/
    --font-heading: "Playfair Display", serif;
    --font-body: "Noto Sans", sans-serif;
}
html, body {
    font-size: 20px;
    font-family: var(--font-body);
}

.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: var(--font-heading);
    font-weight: 500;
}

.h1 {
    font-size: 53px;
}
.h2 {
    font-size: 43px;
}
.h3 {
    font-size: 30px;
}
.h4 {
    font-size: 28px;
}
.h5 {
    font-size: 23px;
}
.h6 {
    font-size: 20px;
}



