<div class="banner">
    <div class="text h1">
        In the grain of <br/> wood, a childhood <br/> dream is hidden
    </div>
    <div class="picture">
        <img src="@Assets["images/banner-pic.png"]" alt="">
    </div>
</div>