.craft {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    background-color: var(--primary-light);
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}

.pic {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.info {
    align-self: stretch;
    padding:4px 10px;
    

    .size {
        font-size: 18px;
        color: var(--secondary-dark);
    }

    .price {
        color: var(--greyscale-grey1);
    }
}